# Node
node_modules/
dist/
dist-ssr
*.local

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/

# Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
.DS_Store
Thumbs.db
